<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
   version="6.0">
<servlet>
        <servlet-name>AddTeacherController</servlet-name>
        <servlet-class>Controller.Admin.Teacher.AddTeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCourseController</servlet-name>
        <servlet-class>Controller.Admin.Course.EditCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentController</servlet-name>
        <servlet-class>Controller.Admin.Student.DeleteStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClassController</servlet-name>
        <servlet-class>Controller.Admin.Class.AddClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherClassController</servlet-name>
        <servlet-class>Controller.Teacher.TeacherClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherAssignmentController</servlet-name>
        <servlet-class>Controller.Teacher.TeacherAssignmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTeacherController</servlet-name>
        <url-pattern>/AddTeacherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCourseController</servlet-name>
        <url-pattern>/EditCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentController</servlet-name>
        <url-pattern>/DeleteStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClassController</servlet-name>
        <url-pattern>/AddClassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherClassController</servlet-name>
        <url-pattern>/TeacherClassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherAssignmentController</servlet-name>
        <url-pattern>/TeacherAssignmentController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
